@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';

body {
  padding: 2rem 0;
  background-color: $pink;
}

// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  font-size: 20px;

@include media-breakpoint-up(sm) {
      font-size: 12px;
  }
  @include media-breakpoint-up(md) {

      font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
      font-size: 20px;
  }
}

.logo{
img{
  width: 100px;
  position: absolute;
  top: 150px;
  left: 30%;
  @include media-breakpoint-up(md){
    left:40%;
    top: 200px;
    width: 200px;
  }
}}

nav{

visibility: hidden;;
  @include media-breakpoint-up(md){
    visibility: visible;
  }
}

li a{
  text-decoration: none;
  margin: 0 20px;
  color: black;
  :hover{
    color: black;
  }

}

.dropdown{
  z-index: 5;
  top: 5px;
  right: 5px;
  position: fixed;
  a{
  text-decoration: none;
  color: black;

  }
  .dropdown-menu{
    background-color: $pink;
    :hover {
        background-color: $pink;
    }
  }
  .dropdown-item:hover{
    background-color: $pink;
  }
  @include media-breakpoint-up(md){
    visibility: hidden;
  }
  button {
    background-color: $pink;
    :hover{
      background-color: $pink;
    }
  }
}

.jumbotron-fluid {
  top: 50%;
  background-size: cover;
  width: 100%;
  min-height: 100%;


.header-title{
  width: 500px;
  top: 150px;
  right: 5px;
  position: absolute;
  background-color: $pink-light;

  .header-social > a > img {

width: 35px;

}
}}

.dark-grey{
  background-color: $dark-grey;
  color: white;
  min-height: 20%;
}

.light-grey{
  background-color: $light-grey;
  min-height: 80%;
}

.about-me{
  text-align: center;
  img{
    width: 50%;
  }
}

.card {
  float: left;
  width: 33.333%;
  padding: .75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: $light-grey;
}

.card > img {
  margin-bottom: .75rem;
  width: 100%;}

.card > img:hover{
  cursor: pointer;
}

.card-text {
  font-size: 85%;
}

.modal  {
  width: 100%;
  background-color: rgba(255,255,255,0.7);

  .btn{
    background-color: $pink;
:hover{
  cursor: pointer;
}
  }
  .close:hover{
    cursor: pointer;
  }
}

.modal-body > img {
  width: 100%
}

form{
  text-align: center;
  padding-top: 30px;
  input[type=text] {
    border-radius: 5px;
    width: 350px;
  }
  input[type=textarea]{
    border-radius: 5px;
    width: 350px;
    height: 300px;
  }
  input[type=submit]{
    background-color: $pink;
    margin: 20px;
    width: 100px;
    height: 50px;
  }
}

div > a > img {
  width: 100px;
:last-child{
  width: 50px;
}
}

footer {
  background-color: $pink;
}
