@import 'custom';
@import '../node_modules/bootstrap/scss/bootstrap';
@import url( 'https://fonts.googleapis.com/css?family=Catamaran|Dosis');

body {
  padding: 2rem 0;
  background-color: $pink;
}
// Responsive typography sizes using Bootstrap mixins for the media querries
html {
  h1 {
    font-size: 25px;
    font-family: 'Dosis';
    padding: 12px;
  }

  h2 {
    font-size: 20px;
    font-family: 'Catamaran';
  }
  font-size: 20px;

  p {
    font-family: 'Catamaran';
  }
  @include media-breakpoint-up(sm) {
    font-size: 20px;
  }
  @include media-breakpoint-up(md) {
    font-size: 20px;
  }
  @include media-breakpoint-up(lg) {
    font-size: 20px;
  }
}

nav {
  visibility: hidden;
  @include media-breakpoint-up(md) {
    visibility: visible;
  }
}

li a {
  text-decoration: none;
  font-family: 'Catamaran';
  margin: 0 20px;
  color: white;

  :hover {
    text-decoration: none;
    color: black;
  }
}

.dropdown {
  z-index: 5;
  top: 5px;
  right: 5px;
  position: fixed;

  a {
    text-decoration: none;
    color: black;
  }

  .dropdown-menu {
    background-color: $pink;

    :hover {
      background-color: $pink;
    }
  }

  .dropdown-item:hover {
    background-color: $pink;
  }
  @include media-breakpoint-up(md) {
    visibility: hidden;
  }

  button {
    background-color: $pink;

    :hover {
      background-color: $pink;
    }

    :active {
      background-color: $pink;
    }
  }
}

.logo {
  img {
    z-index: 2;
    width: 130px;
    position: absolute;
    top: 150px;
    left: 10%;
    @include media-breakpoint-up(md) {
      left: 30%;
      top: 200px;
      width: 200px;
    }
  }
}

.jumbotron-fluid {
  top: 50%;
  background-size: cover;
  width: 100%;
  min-height: 100%;

  .header-title {
    width: 70%;
    background-color: $pink-light;
    position: absolute;
    padding-top: -30px;
    padding-left: 70px;
    text-align: center;
    top: 165px;
    left: 20%;
    height: 95px;

    .header-social > a > img {
      margin-top: -70px;
      margin-right: 5px;
      width: 30px;
    }
    @include media-breakpoint-up(sm) {
      width: 300px;
      position: absolute;
      text-align: center;
      top: 170px;
      padding-left: 50px;
      padding-bottom: 10px;

      .header-social > a > img {
        margin-top: -70px;
        margin-right: 8px;
        width: 30px;
      }
    }
    @include media-breakpoint-up(md) {
      width: 400px;
      height: 140px;
      position: absolute;
      left: 38%;
      top: 230px;
      text-align: center;
      padding-bottom: 10px;
      padding-left: 110px;

      .header-social {
        text-align: center;
      }

      .header-social > a > img {
        margin-top: -50px;
        margin-right: 8px;
        width: 45px;
      }
      h1{
        font-size: 45px;
      }
    }
  }
}

.row {
  min-height: 100%;
}

.dark-grey {
  background-color: $dark-grey;
  color: white;
  height: 10vh;
}

.light-grey {
  background-color: $light-grey;
  min-height: 100%;

  @include media-breakpoint-up(md){
    height: 90vh;
  }
}

#about-me{

.light-grey{
  height: 90vh;
}
}

.about-me {

  text-align: center;

  img {
    margin-top: 35%;
    width: 95%;
    @include media-breakpoint-up(md) {
      width: 50%;
      margin-top: 2%;
    }
  }
}

.card {
  float: left;
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 2rem;
  border: 0;
  background-color: $light-grey;

  p {
    text-align: center;
    padding-top: 20px;
  }

  img {
    margin-bottom: 0.75rem;
    width: 100%;

    :hover {
      cursor: pointer;
    }
  }

  .card-text {
    font-size: 85%;
  }
}

.modal {
  width: 100%;
  background-color: rgba(255,255,255,0.7);

  .btn {
    background-color: $pink;

    :hover {
      cursor: pointer;
    }
  }

  .close:hover {
    cursor: pointer;
  }
}

.modal-body > img {
  width: 100%;
}

#contact{
  .light-grey{
    @include media-breakpoint-up(md){
      height:100%;
    }
  }
}

form {
  font-family: 'Catamaran';
  text-align: center;
  padding-top: 30px;

  input[type=text] {
    border-radius: 5px;
    width: 350px;
  }

  input[type=textarea] {
    border-radius: 5px;
    width: 350px;
    height: 300px;
  }

  input[type=submit] {
    background-color: $pink;
    margin: 20px;
    width: 100px;
    height: 50px;
  }
}

div > a > img {
  width: 100px;

  :last-child {
    width: 50px;
  }
}

.footer-social {
  text-align: center;

  img {
    margin: 10px;
    width: 80px;
  }

  :last-child > img {
    width: 25px;
    margin-right: 5px;
  }

  h2 {
    margin-top: 40px;
  }
}

footer {
  background-color: $pink;

  p {
    text-align: center;
    font-size: 15px;
    @include media-breakpoint-up(md) {
      font-size: 20px;
    }
  }
}

#return-to-top {
  margin-left: 100px;
text-decoration: none;
color: black;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;

i {
  transform: scale(2);
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
:hover {
    cursor: pointer;
}
}
